@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://web.telegram.org/k/" target="_blank">Carlos Encarnacion</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
