@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio!</h1>

<img class= "img-fluid" src= "https://static.wixstatic.com/media/18eeca_0d91a1aecefc413a8ade5f18b73d5023~mv2.jpg/v1/fit/w_800%2Ch_490%2Cal_c%2Cq_80/file.jpg"/>

A<h3>iBienvenido a la aplicación de ejemplo !</h3>

<p>Esta es una aplicación de ejemplo creada con Blazor WebAssembly .</p>

<p>Para comenzar, navega por las diferentes secciones de la aplicación utilizando el menú de navegación .</p>

<h3>Una frase motivadora para ti :</h3>

<p> La mejor manera de predecir el futuro es crearlo. </p>